<div class="filter">
    <div class="sport">

        <select class="filter-sport">
                <option disabled> Выберите вид спорта</option>
                <option>2</option>
        </select>

    </div>
    <div class="metro">

            <select class="filter-metro">
                <option disabled>Метро или округ</option>
                <option>2</option>
            </select>

        </div>

    <div class="time">
        <div class="quantity">
            <p>Кол-во часов </p>
            <select>
                <option >1 час</option>
                <option> 2 часа</option>
            </select>
        </div>

        <div class="interval_from">
            <p>Интервал времени с </p>
            <input type="text">
            <p>До</p>
            <input type="text">
        </div>
    </div>

        <div class="cost">
            <p>За час</p>
            <p>От</p>
            <input type="text">
            <p>До</p>
            <input type="text">
        </div>



    </div>
