<div class="card">
    <div class="info-card">
        <div class="effect"></div>
        <div class="header-auth">
            <h1>Занимайтесь</h1>
            <h1>спортом</h1>
            <h1>вместе с нами!</h1>
        </div>
        <div class="text">
             <p>Здесь вы найдете</p>
             <p>тысячу и одно</p>
             <p>предложение комфортное для Вас</p>
        </div>
        <div class="button-holder">
            <div class="button" id="btn" (click)="choseTypeOfRegistration($event)">Пользователь</div>
            <div class="button" id="bt" (click)="choseTypeOfRegistration($event)">Владелец</div>
        </div>  
    </div> 
    <div class="form-card">
        <h1>Регистрация</h1>
        <div class="register-steps">
            <div class="liner"></div>
            <div class="bubbles">
                <div class="inner">
                    <span>1</span>
                </div>
            </div>
            <div class="bubbles">
                <div class="inner">
                    <span>2</span>
                </div>
            </div>
            <div class="bubbles">
                <div class="inner">
                    <span>3</span>
                </div>
            </div>
        </div>
        <div class="former">
            <form>
                <input type="email" placeholder="Your email">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Your surname">
                <input type="password" placeholder="Add password">
                <input type="password" placeholder="Repeat password">
                <input type="text" placeholder="Your cell number, not required">
            </form>
            <div class="buttons">
                <div class="prev"></div>
                <div class="cont"><span>Continue</span></div>
            </div>
        </div>
    </div>
</div>