.finished{
    color: #ffffff;
    background-color: $new-color;
}
.progress{
    color: rgba(0, 0, 0, .6);
    background-color: rgba(81, 81, 81, .19);
}

.form-card {
    background-color: teal;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
    }

    .register-steps {
        width: 580px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative; 
        .liner{
            position: absolute;
            width: 100%;
            background-color: rgb(255, 255, 255);
            height: 3px;
        }
        .bubbles{
            background-color: rgb(255, 255, 255);
            position: relative;
            z-index: 12;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .inner{
                color: rgba(0, 0, 0, .5); 
                font-size: 20px;
                font-weight: 600;
                background-color: $new-color;
                background-color: rgba(81, 81, 81, .19);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

            }
        }
    }

    .former {
        //background-color: #fff;
        flex-basis: 70%;
        width: 75%;
        margin-bottom: 50px;   
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        form {
            flex-basis: 85%;
        }
    }

}