$primary-color-dark:   #FBC02D;
$primary-color:        #FFEB3B;
$primary-color-light:  #FFF9C4;
$primary-color-text:   #212121;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$new-color:         rgba(0, 188, 212,.85);